* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #121321;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    position: relative;
    color: white;
    perspective: 1000px;
}

.card-full {
    width: 30vw;
    height: 40vh;
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.card-full:hover {
    transform: rotateY(180deg);
}

.top-circle {
    position: absolute;
    background: linear-gradient(90deg, rgba(220, 3, 220, 0.800), white);
    height: 28vh;
    width: 15vw;
    border-radius: 50%;
    top: -100px;
    left: -100px;
}

.bottom-circle {
    position: absolute;
    background: linear-gradient(90deg, rgba(128, 0, 128, 0.800), white);
    height: 28vh;
    width: 15vw;
    border-radius: 50%;
    bottom: -100px;
    right: -100px;
}

.card-front,
.back-face {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 8px 10px rgba(184, 179, 226, 0.605);
    border-radius: 25px;
    backdrop-filter: blur(25px);
    backface-visibility: hidden;
    padding: 20px;
}

.card-front {
    transform: rotateY(0deg);
}

.back-face {
    transform: rotateY(180deg);
}

h3 {
    margin-top: 7px;
    width: fit-content;
    color: #121321;
}

.left-side {
    display: flex;
    gap: 4px;
}

.logos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

img {
    max-width: 52px;
}

.card-details {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

h4,
h5 {
    font-size: 20px;
    letter-spacing: 2px;
}

.magnetic-strip {
    position: absolute;
    height: 45px;
    width: 90%;
    background-color: black;
    margin-top: 10px;
}

.signature {
    margin-top: 80px;
    background-color: white;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    background: repeating-linear-gradient(180deg, white 19px, black 25px);
}

em {
    color: black;
    font-size: 20px;
    margin-right: -42px;
    background-color: white;
    border-radius: 10px;
    height: 25px;
    width: 45px;
    z-index: -1;
}

@media screen and (max-width: 1200px) {
    .top-circle {
        height: 20vh;
        width: 15vw;
        top: -80px;
        left: -50px;
    }

    .bottom-circle {
        height: 20vh;
        width: 15vw;
        bottom: -80px;
        right: -50px;
    }

    .card-front {
        height: 25vh;
        padding: 10px;
    }

    img {
        max-width: 40px;
    }

    .left-side {
        display: flex;
        gap: 0px;
    }
}

@media screen and (max-width: 700px) {
    .top-circle {
        height: 13vh;
        width: 10vw;
        top: -80px;
        left: -30px;
    }

    .bottom-circle {
        height: 13vh;
        width: 10vw;
        bottom: -80px;
        right: -30px;
    }

    .card-front {
        height: 20vh;
        padding: 10px;
    }

    img {
        max-width: 29px;
    }

    .left-side {
        display: flex;
        gap: 0px;
    }
}

@media screen and (max-width: 500px) {
    .top-circle {
        height: 7vh;
        width: 15vw;
        top: -20px;
        left: -20px;
    }

    .bottom-circle {
        height: 7vh;
        width: 15vw;
        bottom: -30px;
        right: -20px;
    }

    .card-front {
        height: 15vh;
        width: 50vw;
        border-radius: 20%;
        padding: 10px;
    }

    .left-side {
        display: flex;
        gap: 0px;
    }
}
